@import '../base/color';

div.theme-dark {
  color: $dark-text;
  background-color: $dark-bg;
}

button.theme-dark {
  color: $dark-text;
  background-color: $dark-input;
  border-color: $dark-border;

  &:hover {
    background-color: $dark-hover;
  }

  &:active {
    background-color: $dark-text;
    color: $dark-bg;
  }
}

input.theme-dark {
  color: $dark-text;
  background-color: $dark-bg;
  border-color: $dark-border;

  &::selection {
    background: $dark-highlight;
  }
}

.square.theme-dark {
  background-color: $dark-text;
  border-color: $dark-text;
}

.emptySquare.theme-dark {
  border-color: $dark-text;
}