@import '../base/color';

div.theme-light {
  color: $light-text;
  background-color: $light-bg;
}

button.theme-light {
  color: $light-text;
  background-color: $light-bg;
  border-color: $light-border;

  &:hover {
    background-color: $light-highlight;
  }

  &:active {
    background-color: $light-text;
    color: $light-bg;
  }
}

input.theme-light {
  color: $light-text;
  background-color: $light-bg;
  border-color: $light-border;

  &::selection {
    background: $light-highlight;
  }
}

.theme-light::placeholder {
  color: $light-hover;
}

textarea.theme-light {
  color: $light-text;
  background-color: $light-bg;
}

.square.theme-light {
  background-color: $light-text;
  border-color: $light-text;
}

.emptySquare.theme-light,
.emptySquareBold.theme-light,
.emptySquareExtraBold.theme-light {
  border-color: $light-text;
}

.invisibleSquare.theme-light {
  background-color: $light-bg;
  border-color: $light-bg;
}