# electron-vue
dist/electron/*
dist/web/*
build/*
!build/icons

# node
node_modules/
npm-debug.log
npm-debug.log.*
.npm

# git
!.gitkeep

# vim swap files
*.swp

# file system junk
.DS_Store
thumbs.db

# environment variables
.env

# Test data
test_data
