@import 'color';

button {
  font-size: 10pt;
  font-weight: bold;
  border-radius: 3px;
  outline: none;

  &.theme-light {
    color: $light-text;
    background-color: $light-bg;
    border: 1px solid $light-border;

    &:hover {
      background-color: $light-highlight;
    }

    &:active {
      background-color: $light-text;
      color: $light-bg;
    }
  }

  &.theme-dark {
    color: $dark-text;
    background-color: $dark-input;
    border: 1px solid $dark-border;

    &:hover {
      background-color: $dark-hover;
    }

    &:active {
      background-color: $dark-text;
      color: $dark-bg;
    }
  }
}