$light-text: #000;
$light-highlight: #ccc;
$light-bg: #fff;
$light-border: #000;

$dark-text: #f8f8f2;
$dark-highlight: #6272a4;
$dark-bg: #282a36;
$dark-border: #000;
$dark-input: #44475a;
$dark-hover: #6272a4;