$light-text: #262626;
$light-highlight: #bdbdbd;
$light-bg: #e4e4e4;
$light-bg-alt: #f6f6f6;
$light-border: #262626;
$light-input: #f6f6f6;
$light-hover: #a5a5a5;
$light-alert: #fc8433;

$dark-text: #e6e6e6;
$dark-highlight: #8e7fac;
$dark-bg: #1b1a1d;
$dark-bg-alt: #242326;
$dark-border: #615b6e;
$dark-input: #2c2b2f;
$dark-hover: #443b52;
$dark-alert: #2aa6fd;

$blood-red: #8a0707;
$departing: #00ab66;