$light-text: #000;
$light-highlight: #ccc;
$light-bg: #fff;
$light-border: #000;
$light-input: #000;
$light-hover: #ccc;
$light-alert: orange;

$dark-text: #f8f8f2;
$dark-highlight: #6272a4;
$dark-bg: #282a36;
$dark-border: #f8f8f2;
$dark-input: #44475a;
$dark-hover: #6272a4;
$dark-alert: pink;

$blood-red: #8a0707;
$departing: #00ab66;